<html>

  <title>MLOps Calidad Vino</title>
  <head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h3>Analisis de calidad de Vino <img src="https://storage.googleapis.com/kaggle-datasets-images/4458/6836/30587db9a40233164f65a4a3f148f40d/dataset-card.jpg?t=2017-11-12-14-28-34" alt="Small Image" style="width: 80px; height: 80px;"></h3>
      <h2 class="active"> Ingrese la fomrulación del vino</h2>
  
      <!-- Login Form -->
      <form action= "{{ url_for('GetValues')}}" method="post">

        <input required type="number" id="pregnancies" class="fadeIn second" name="pregnancies"" placeholder="acidez fija">
        <input required type="number" id="plasmaglucose" class="fadeIn second" name="plasmaglucose" placeholder="acidez volátil">
        <input required type="number" id="diastolicbloodpressure" class="fadeIn second" name="diastolicbloodpressure" placeholder="ácido cítrico">
        <input required type="number" id="tricepsthickness" class="fadeIn second" name="tricepsthickness" placeholder="azúcar residual">
        <input required type="number" id="seruminsulin" class="fadeIn second" name="seruminsulin" placeholder="cloruros">
        <input required type="number" step="any" id="bmi" class="fadeIn second" name="bmi" placeholder="anhídrido sulfuroso libre">
        <input required type="number" step="any" id="diabetespedigree" class="fadeIn second" name="diabetespedigree" placeholder=" anhídrido sulfuroso total">
        <input required type="number" id="age" class="fadeIn second" name="age" placeholder="densidad">
        <input required type="number" id="age" class="fadeIn second" name="age" placeholder="PH">
        <input required type="number" id="age" class="fadeIn second" name="age" placeholder="Sulfatos">
        <input required type="number" id="age" class="fadeIn second" name="age" placeholder="Alochol">
        
        <input required type="submit" class="fadeIn fourth" value="Predicir calidad">
       
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
        <h4 class = "underlineHover">{{ prediction_text }}</h4>
      </div>
  
    </div>
  </div>

</html>
